Assembly-CSharp-Editor.csproj
Assembly-CSharp.csproj
Library
Temp
Build
Scatter.sln
UnityProject.sln
Builds
Bolt_DebugStart_Build
TestResults
obj
.vs/UnityProject/v14/.suo
.vs/config
*.csproj


.idea
Assets/Plugins/Editor/JetBrains
Assets/Plugins/Editor/JetBrains.meta
